body {
  font-size: 100%;
  font-family: 'Passion One', cursive;
  background-image: url(./images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

button, input {
  font-size: 100%;
  font-family: 'Passion One', cursive;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  background-color: rgb(255,255,255, 0.25);
}

tr:nth-child(even) {
  background-color: rgb(255,255,255, 0.25);
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
